<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Node Documentation</h1>

    <p>For more information regarding Node.js, please refer to the <a href="https://nodejs.org/docs/latest-v13.x/api/index.html" title="Node Official Documentation">official documentation</a>.</p>

    <dl>
        <dt>__dirname</dt>
        <dd><%= node.dirname %></dd>
    </dl>
    <dl>
        <dt>__filename</dt>
        <dd><%= node.filename %></dd>
    </dl>


    
</body>
</html>